.mother{
    margin-left: 300px;
    margin-right: 300px;
}
.logo{
    width: 25px;
    height: 25px;
    margin-left: 60px;
}
.menu{
    margin-top: 60px;
}
.room{
    font-size: 16px ;
    color: black;
    margin-left: 30%;
    text-decoration: none;
}
.room:hover{
    border-bottom-style: solid;
}
.menuItem{
    font-size: 16px ;
    color: black;
    margin-left: 20px;
    text-decoration: none;
}
.menuItem:hover{
    border-bottom-style: solid;
}
.left{
    display: inline-block;
    width: 40%;
    margin-left: 60px;
}
.right{
    display: inline-block;
    width: 40%;
}
.leftimage{
    width: 100% ;
    
    margin-top: 10px;
    margin-bottom: 10px;
}
.rightimage{
    width: 100%;
   background-color: blue;
}
.description{
    margin-top:10px  ;
    
    border-radius: 15px;
    background-color: lightgray;
    border: none;
    outline: none;
    width: 200px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.signin{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: blue;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
}
.checkbox{
    margin-bottom: 10px;
}

.h1word{
    color: mediumspringgreen;
    margin-top: 100px;
}